header .row {
    margin-top: 30px;
    background-color: #F0FFFF;
    height: 100px;
}

#logo {
    border: 1px solid black;
    display: block;
    padding: 25px 0px 25px 25px;
}

nav {
    padding: 25px 25px 25px 0px;
}

nav ul {
    float:right;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    
}

nav li a {
    color:black;
    text-decoration: none;
    margin-left: 40px;
}

nav li:first-child a {
    margin-left: 0px;
}


@media screen and (max-width: 767px) {
    nav {
        display: none;
    }
}