header .row {
    margin-top: 30px;
    background-color: #F0FFFF;
    height: 100px;
}

#logo {
    display: block;
    padding: 40px 0px 25px 25px;
    text-decoration: none;
    color: black;
}

nav {
    /*position: relative;*/
    padding: 40px 25px 25px 0px;
}

nav ul {
    float: right;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline;
}

nav li a {
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

nav li:first-child a {
    margin-left: 0px;
}

#nav_icon {
    display: none;
}

.dropdown {
    display: none;
    position: fixed;
}

@media screen and (max-width: 767px) {
    nav ul {
        display: none;
    }
    .for_mobile {
        display: inline-block;
    }
    #nav_icon {
        position: relative;
        display: block;
        visibility: visible;
        float: right;
        cursor: pointer;
    }
    .dropdown {
        position: absolute;
        background-color: #f9f9f9;
        top: 100px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown a:hover {background-color: #f1f1f1}
}
