body {
    margin: 0;
    padding: 0;
}

header .row {
    margin-top: 30px;
    background-color: #B0C4DE;
    height: 100px;
    width: 100%;
}

#logo {
    display: block;
    padding: 40px 0px 25px 25px;
    text-decoration: none;
    color: black;
}

nav {
    /*position: relative;*/
    padding: 40px 25px 25px 0px;
}

.desktop_nav {
    float: right;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.desktop_nav li {
    display: inline;
}

.desktop_nav li a {
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.desktop_nav li:first-child a {
    margin-left: 0px;
}

#nav_icon {
    display: none;
}

.dropdown {
    display: none;
    position: fixed;
}

.dropdown ul li {
    display: none;
}

@media screen and (max-width: 767px) {
    .desktop_nav {
        display: none;
    }
    
    #nav_icon {
        position: relative;
        display: block;
        visibility: visible;
        float: right;
        cursor: pointer;
    }
    .dropdown {
        position: absolute;
        background-color: #f9f9f9;
        top: 100px;
        width: 100%;
        text-align: center;
        /*float: left;*/
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
    }
    
    .dropdown ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
    
    .dropdown ul li {
        display: block;
    }
    
    .dropdown li a {
        color: black;
        padding: 20px 16px;
        text-decoration: none;
        display: block;
        
    }
    
    .dropdown li:hover {
        background-color: #f1f1f1;
        text-align: center;
        /*margin: 0 auto;*/
    }
}

