header .row {
    margin-top: 30px;
    background-color: #F0FFFF;
    height: 100px;
}

#logo {
    display: block;
    padding: 40px 0px 25px 25px;
    text-decoration: none;
    color: black;
}

nav {
    padding: 40px 25px 25px 0px;
}

nav ul {
    float:right;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline;
    
}

nav li a {
    color:black;
    text-decoration: none;
    margin-left: 40px;
}

nav li:first-child a {
    margin-left: 0px;
}

#nav_icon {
    display:none;

}

.for_mobile {
    display: none;
}


@media screen and (max-width: 767px) {
    nav ul {
        display: none;
    }
    
    #nav_icon {
        display: block;
        visibility: visible;
        cursor: pointer;
    }
}